.container__servicios {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 33% 33% 33%;
	gap: 1rem;
	margin: 2rem;
	max-width: 1330px;
	min-width: 360px;
	margin: auto;
}
.servicios__heigth {
	min-height: 80vh;
	margin: 2rem;
}
.div__servicios_titulo {
	background-color: darkgoldenrod;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.div__servicios_titulo h2 {
	font-size: 3rem;
	font-weight: 700;
}
.div_servicios_contenido {
	background-color: darkgray;
	padding: 1rem;
}
.galeria-grid {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 1fr 1fr;
	margin-top: 3rem;
}
@mixin galeria($color) {
	border: 2px solid $color;

	img {
		width: 100%;
		margin: 0 auto;
	}
}
.galeria-grid {
	.img-galeria1 {
		@include galeria(#333);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: whitesmoke;
	}
	.img-galeria2 {
		@include galeria(rgb(124, 20, 20));
	}
	.img-galeria3 {
		@include galeria(#333);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: whitesmoke;
	}
	.img-galeria4 {
		@include galeria(#ebe70f);
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		background-color: #e7d10d;
	}
	.img-galeria5 {
		@include galeria(#333);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: whitesmoke;
	}
	.img-galeria6 {
		@include galeria(#333);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background-color: #e7d10d;
	}
	.img-galeria7 {
		@include galeria(#ebe97d);
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		background-color: #e7d10d;
	}
}
@media (max-width: 741px) {
	.galeria-grid {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: auto;
	}
}
